SUPABASE_URL=https://pwpjrwcynnicexrmunkd.supabase.co
SUPABASE_PUBLISHABLE_KEY=ضع_المفتاح_العام
SUPABASE_SERVICE_ROLE_KEY=ضع_المفتاح_السري_في_الخادم_فقط

TELEGRAM_BOT_TOKEN=ضع_توكن_البوت
TELEGRAM_API_ID=ضع_معرف_الواجهة
TELEGRAM_API_HASH=ضع_رمز_التجزئة
TELEGRAM_ADMIN_ID=ضع_معرف_حساب_الادمن

ONESIGNAL_APP_ID=ضع_معرف_تطبيق_ون_سيغنال
ONESIGNAL_REST_API_KEY=ضع_مفتاح_الخادم

OWNER_USER_ID=ضع_معرف_حساب_المالك_بعد_إنشائه
MAX_UPLOAD_MB=60
